<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:06 GMT -->
<head>
    <meta charset="utf-8">
    <title>New TimesHub Admin page</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/user/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/user/css/main.css">
</head>

<body>
    

   
    <main class="main">
        
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 ">
                        <div class="row">
                            <div class="col-lg-5 col-xl-6 m-auto">
                                <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <h3 class="mb-30">Admin Login</h3>
                                        </div>
                                        <form method="post" action="/admin/adminsubmit" id="signup">
                                            <div class="form-group">
                                                <input type="email" required id="email" name="email"  placeholder="Your Email">
                                                <small style="color: red;"></small>
                                            </div>
                                            <div class="form-group">
                                                <input required type="password" id="password" name="password" placeholder="Password">
                                                <small style="color: red;"></small>
                                            </div>
                                            <div class="login_footer form-group">
                                                <div class="chek-form">
                                                    <div class="custome-checkbox">
                                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="">
                                                        <label class="form-check-label" for="exampleCheckbox1"><span>Remember me</span></label>
                                                    </div>
                                                </div>
                                                <a class="text-muted" href="#">Forgot password?</a>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-fill-out btn-block hover-up">Log in</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="main">
        <section class="newsletter p-30 text-white wow fadeIn animated">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-md-3 mb-lg-0">
                        <div class="row align-items-center">
                            <div class="col flex-horizontal-center">
                                <img class="icon-email" src="/assets/user/imgs/theme/icons/icon-email.svg" alt="">
                                <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                            </div>
                            <div class="col my-4 my-md-0 des">
                                <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first shopping.</strong></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <!-- Subscribe Form -->
                        <form class="form-subcriber d-flex wow fadeIn animated">
                            <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                            <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                        </form>
                        <!-- End Subscribe Form -->
                    </div>
                </div>
            </div>
        </section>
        
    </footer>  
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="/assets/user/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/assets/user/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/assets/user/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/assets/user/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/assets/user/js/plugins/slick.js"></script>
    <script src="/assets/user/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/assets/user/js/plugins/wow.js"></script>
    <script src="/assets/user/js/plugins/jquery-ui.js"></script>
    <script src="/assets/user/js/plugins/perfect-scrollbar.js"></script>
    <script src="/assets/user/js/plugins/magnific-popup.js"></script>
    <script src="/assets/user/js/plugins/select2.min.js"></script>
    <script src="/assets/user/js/plugins/waypoints.js"></script>
    <script src="/assets/user/js/plugins/counterup.js"></script>
    <script src="/assets/user/js/plugins/jquery.countdown.min.js"></script>
    <script src="/assets/user/js/plugins/images-loaded.js"></script>
    <script src="/assets/user/js/plugins/isotope.js"></script>
    <script src="/assets/user/js/plugins/scrollup.js"></script>
    <script src="/assets/user/js/plugins/jquery.vticker-min.js"></script>
    <script src="/assets/user/js/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="/assets/user/js/main.js"></script>
</body>

<script src="/public/javascripts/adminAjax.js"></script>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:06 GMT -->
</html>