<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:20:36 GMT -->

<head>
    <meta charset="utf-8">
    <title>New Time-website</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/css/main.css">


     <!-- Vendor JS-->
     <script src="/js/vendor/modernizr-3.6.0.min.js"></script>
     <script src="/js/vendor/jquery-3.6.0.min.js"></script>
     <script src="/js/vendor/jquery-migrate-3.3.0.min.js"></script>
     <script src="/js/vendor/bootstrap.bundle.min.js"></script>
     <script src="/js/plugins/slick.js"></script>
     <script src="/js/plugins/jquery.syotimer.min.js"></script>
     <script src="/js/plugins/wow.js"></script>
     <script src="/js/plugins/jquery-ui.js"></script>
     <script src="/js/plugins/perfect-scrollbar.js"></script>
     <script src="/js/plugins/magnific-popup.js"></script>
     <script src="/js/plugins/select2.min.js"></script>
     <script src="/js/plugins/waypoints.js"></script>
     <script src="/js/plugins/counterup.js"></script>
     <script src="/js/plugins/jquery.countdown.min.js"></script>
     <script src="/js/plugins/images-loaded.js"></script>
     <script src="/js/plugins/isotope.js"></script>
     <script src="/js/plugins/scrollup.js"></script>
     <script src="/js/plugins/jquery.vticker-min.js"></script>
     <script src="/js/plugins/jquery.theia.sticky.js"></script>
     <script src="/js/plugins/jquery.elevatezoom.js"></script>
     <!-- Template  JS -->
     <script src="/js/main.js"></script>
     <script src="/js/shop.js"></script>
 
</head>
<body>
</body>
</html>