<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/blog-post-fullwidth.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:27:15 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara - eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/user/imgs/theme/logo.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/coupon-created.css">
    <link rel="stylesheet" href="/stylesheets/order-success.css">
    <link rel="stylesheet" href="/stylesheets/coupon-template.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/user/css/main.css">
</head>

<body  onload="showModal()">
    <header class="header-area header-style-5 zindex-1">
        <!-- allcategory ,search bar , whislist , cart -->
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block ">
            <div class="container">
              <div class="header-wrap">
                <div class="logo logo-width-1">
                  <a href="index.html"><img src="/assets/user/imgs/theme/logo.svg" alt="logo" /></a>
                </div>
                <div class="header-right">
                  <div class="search-style-2">
                    <form action="#">
                      <select class="select-active">
                        <option>All Categories</option>
                        <option>Dive Watches</option>
                        <option>Dress Watches</option>
                        <option>Pilot's Watches</option>
                        <option>GMT Watches</option>
                        <option>Digital Watches</option>
                        <option>Ladies Watches</option>
                      </select>
                      <input type="text" placeholder="Search for items..." />
                    </form>
                  </div>
                  <div class="header-action-right">
                    <div class="header-action-2">
                      <div class="header-action-icon-2">
                        <a href="/view-wishlist">
                          <img class="svgInject" alt="Evara" src="/assets/user/imgs/theme/icons/icon-heart.svg" />
                          <% if(locals?.wishlistCount) { %>
                            <span class="pro-count blue"><%= wishlistCount %></span>
                            <% } %>
                        </a>
                      </div>
                      <div class="header-action-icon-2">
                        <a class="mini-cart-icon" href="/view-cart">
                          <img alt="Evara" src="/assets/user/imgs/theme/icons/icon-cart.svg" />
                          <% if(locals?.cartCount) { %>
                            <span class="pro-count blue"><%= cartCount %></span>
                            <% } %>
                        </a>
                       
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="header-bottom header-bottom-bg-color sticky-bar ">
            <div class="container">
              <div class="header-wrap header-space-between position-relative ">
                <div class="logo logo-width-1 d-block d-lg-none">
                  <a href="index.html"><img src="/assets/user/imgs/theme/logo.svg" alt="logo" /></a>
                </div>
                <div class="header-nav d-none d-lg-flex">
                  <div class="main-categori-wrap d-none d-lg-block">
                    <a class="categori-button-active" href="#">
                      <span class="fi-rs-apps"></span> Browse Categories
                    </a>
                    <div class="categori-dropdown-wrap categori-dropdown-active-large">
                      <ul>
                        <li class="has-children">
                          <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i>Dive Watches</a>
                        </li>
                        <li class="has-children">
                          <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i>Dress Watches</a>
                        </li>
                        <li class="has-children">
                          <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i>Pilot's Watches</a>
                        </li>
                        <li>
                          <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i>GMT Watches</a>
                        </li>
  
                        <li>
                          <ul class="more_slide_open" style="display: none">
                            <li>
                              <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i>Digital
                                Watches</a>
                            </li>
                            <li>
                              <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i>Ladies
                                Watches</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                      <div class="more_categories">Show more...</div>
                    </div>
                  </div>
                  <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                    <nav>
                      <ul>
                        <li>
                          <a class="" href="/">Home</i></a>
                          
                        </li>
                        <li>
                          <a href="page-about.html">About</a>
                        </li>
                        <li>
                          <a href="/shop">Shop <i class=""></i></a>
                          <!-- <ul class="sub-menu">
                                              <li><a href="shop-grid-right.html">Shop Grid – Right Sidebar</a></li>
                                              <li><a href="shop-grid-left.html">Shop Grid – Left Sidebar</a></li>
                                              <li><a href="shop-list-right.html">Shop List – Right Sidebar</a></li>
                                              <li><a href="shop-list-left.html">Shop List – Left Sidebar</a></li>
                                              <li><a href="shop-fullwidth.html">Shop - Wide</a></li>
                                              <li><a href="#">Single Product <i class="fi-rs-angle-right"></i></a>
                                                  
                                              </li>
                                              <li><a href="shop-filter.html">Shop – Filter</a></li>
                                              <li><a href="shop-wishlist.html">Shop – Wishlist</a></li>
                                              <li><a href="shop-cart.html">Shop – Cart</a></li>
                                              <li><a href="shop-checkout.html">Shop – Checkout</a></li>
                                              <li><a href="shop-compare.html">Shop – Compare</a></li>
                                          </ul> -->
                        </li>
  
                        <li>
                          <a href="#">Pages <i class="fi-rs-angle-down"></i></a>
                          <ul class="sub-menu">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact</a></li>
                           
                            <li><a href="/userAccount">My Account</a></li>
                            <li><a href="/view-coupons">Coupons</a></li>
                            <li><a href="/userWallet">Wallet</a></li>
                            <li><a href="/user-logout">Logout</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <!-- <li><a href="page-terms.html">Terms of Service</a></li>
                                              <li><a href="page-404.html">404 Page</a></li> -->
                          </ul>
                        </li>
                        <li>
                          <a href="page-contact.html">Contact</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
                <div class="hotline d-none d-lg-block">
                  <p>
                    <i class="fi-rs-headset"></i><span>Helpline</span> 1900 - 888
                  </p>
                </div>
                <p class="mobile-promotion">
                  Happy <span class="text-brand">Mother's Day</span>. Big Sale Up to
                  40%
                </p>
                <div class="header-action-right d-block d-lg-none">
                  <div class="header-action-2">
                    <div class="header-action-icon-2">
                      <a href="/view-wishlist">
                        <img alt="Evara" src="/assets/user/imgs/theme/icons/icon-heart.svg" />
                        <% if(locals?.wishlistCount) { %>
                          <span class="pro-count blue"><%= wishlistCount %></span>
                          <% } %>
                      </a>
                    </div>
                    <div class="header-action-icon-2">
                      <a class="mini-cart-icon" href="/view-cart">
                        <img alt="Evara" src="/assets/user/imgs/theme/icons/icon-cart.svg" />
                        <% if(locals.cartCount) { %>
                          <span class="pro-count blue"><%= cartCount %></span>
                          <% } %>
                      </a>
                      
                    </div>
                    <div class="header-action-icon-2 d-block d-lg-none">
                      <div class="burger-icon burger-icon-white">
                        <span class="burger-icon-top"></span>
                        <span class="burger-icon-mid"></span>
                        <span class="burger-icon-bottom"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="index.html"><img src="/assets/user/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <div class="main-categori-wrap mobile-header-border">
                        <a class="categori-button-active-2" href="#">
                            <span class="fi-rs-apps"></span> Browse Categories
                        </a>
                        <div class="categori-dropdown-wrap categori-dropdown-active-small">
                            <ul>
                                <li><a href="shop-grid-right.html"><i class="evara-font-dress"></i>Women's Clothing</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-tshirt"></i>Men's Clothing</a></li>
                                <li> <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i> Cellphones</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Computer & Office</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Consumer Electronics</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-home"></i>Home & Garden</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-high-heels"></i>Shoes</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-teddy-bear"></i>Mother & Kids</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-kite"></i>Outdoor fun</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/">Home</a>
                            
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/shop">shop</a>
                               
                            </li>
                          
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="page-about.html">About Us</a></li>
                                    <li><a href="page-contact.html">Contact</a></li>
                                 
                                    <li><a href="/userAccount">My Account</a></li>
                                    <li><a href="/view-coupons">Coupons</a></li>
                                    <li><a href="/userWallet">Wallet</a></li>
                                    <li><a href="/login">login/register</a></li>
                                    <li><a href="/user-logout">Logout</a></li>
                                    
                                    
                                </ul>
                            </li>
                          
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a  href="page-contact.html"> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="/login">Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+01) - 2345 - 6789 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="/assets/user/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a href="#"><img src="/assets/user/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a href="#"><img src="/assets/user/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a href="#"><img src="/assets/user/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a href="#"><img src="/assets/user/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>