<!DOCTYPE html>
<html>
<head>
  <title>OTP Verification</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
  <style>
    .card {
      margin: 50px auto;
      max-width: 400px;
      border-color: #4c6f7c;
      border-radius: 10px;
    }

    .form-control-lg {
      width: 60px;
      height: 60px;
      font-size: 32px;
      text-align: center;
      border-radius: .3rem;
    }

    .btn-primary {
      background-color: #87ceeb;
      border-color: #87ceeb;
    }

  </style>
</head>
<body>
  <div class="card">
    <div class="card-body ">
        <div class="justify-content-center d-flex align-items-center">

            <h6 class="card-title">Enter Your Registered Phone Number</h6>
        </div>
        <div class="justify-content-center d-flex align-items-center">

            <p>OTP sent to your phone number.</p>
        </div>
      <form action="/mobile-validate" method="post">
        
        <div class="mb-3">
            <input class="form-control" placeholder="    Enter Phone Number...." type="text" name="mobile">
        </div> <!-- form-group// -->
           
        </div> <!-- form-group form-check .// -->
        <div class="mt-1 mb-4 justify-content-center d-flex align-items-center">
            <button type="submit" class="btn btn-primary w-50"> SENT OTP </button>
        </div> <!-- form-group// -->
    </form>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.min.js"></script>
</body>
</html>
