<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-account-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:33 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <main>  
        <section class="content-main mt-80 mb-80">
            <div class="card mx-auto card-login " >
                
                <!-- <p class="alert alert-danger"></p> -->
                
                <div class="card-body " style="border-radius: 1rem;background-color:#FAF9F6">
                    <h4 class="card-title mb-4 text-center">OTP LOGIN </h4>
                    
                    <form action="/mobile-validate" method="post">
                        <p class="text-center">Enter your registered Phone Number</p>
                        <div class="mb-3">
                            <input class="form-control" placeholder="    Enter Phone Number...." type="text" name="mobile">
                        </div> <!-- form-group// -->
                           
                        </div> <!-- form-group form-check .// -->
                        <div class="mt-5 mb-4">
                            <button type="submit" class="btn btn-primary w-100"> SENT OTP </button>
                        </div> <!-- form-group// -->
                    </form>
                </div>
            </div>
        </section>
        <footer class="main-footer text-center">
            <p class="font-xs">
                <script>
                document.write(new Date().getFullYear())
                </script> ©, Evara - HTML Ecommerce Template .
            </p>
            <p class="font-xs mb-30">All rights reserved</p>
        </footer>
    </main>
    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="assets/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-account-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:33 GMT -->
</html>





















